main{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#my-board{
    width: 50%;
}

@media(max-width: 800px) {
    #my-board {
        width: 80%;
    }
}
@media(min-width: 1200px) {
    #my-board {
        width: 40%;
    }
}
